{
    "logs": [
        {
            "outputFile": "C:\\Users\\dell\\AndroidStudioProjects\\TEZ\\app\\build\\intermediates\\incremental\\mergeDebugResources\\merged.dir\\values-el\\values-el.xml",
     